WebApplication1/Connected Services/QuestionaryServiceReference/QuestionaryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Questionary.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Questionary.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQuestionary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Questionary" nillable="true" type="tns:Questionary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionary" nillable="true" type="tns:ArrayOfQuestionary" />
  <xs:complexType name="Questionary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Questionary" nillable="true" type="tns:Questionary" />
</xs:schema>